services:
  perplexica:
    image: itzcrazykns1337/perplexica:latest
    ports:
      - '3000:3000'
    volumes:
      - data:/home/perplexica/data
      - uploads:/home/perplexica/uploads
    restart: unless-stopped
labels:
  - 'traefik.http.middlewares.mybasicauth.basicauth.users=isaac:$apr1$y2polvws$OZROsQ0jdC/8Q6L/Foblx0'

volumes:
  data:
    name: 'perplexica-data'
  uploads:
    name: 'perplexica-uploads'
